
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Logout Successful</h2>
    <p>You have been successfully logged out. Thank you for using our application.</p>
</div>